header
	+pos(fix, 0 0 null 0)
	z-index: 1000
	+transition(all,0.5s)
	&.minimal
		background: $white
		.btn-showmenu
			color: $dblue
			.icon
				span, &:before, &:after
					background: $dblue
	.container
		max-width: 100%
		width: 100%
		padding: 0px 35px
	.header-wrap
		+flexbox
		justify-content: space-between
		align-items: center
		align-content: center
	.sitelogo
		+flexbox
		align-items: center
		align-content: center
		justify-content: center
		+pos(rel,null)
		z-index: 1000
		a
			display: block
		img
	.btn-showmenu
		+fs(14rem)
		color: $white
		+flexbox
		align-items: center
		align-content: center
		cursor: pointer
		+pos(rel,null)
		z-index: 1000
		.text
			+transition(all,0.5s)
		.icon
			width: 30px
			height: 20px
			+pos(rel,null)
			margin-left: 30px
			&:before
				content: ''
				display: block
				height: 2px
				background: $white
				+pos(abs, 0 0 null 0)
				+transition(all,0.3s)
			&:after
				content: ''
				display: block
				height: 2px
				background: $white
				+pos(abs, null 0 0 0)
				+transition(all,0.3s)
			span
				+pos(abs, 50% 0 null 0)
				+transform(translateY(-50%))
				background: $white
				height: 2px
				+transition(all,0.3s)
		&:hover
			.icon
				&:before
					top: -2px
				&:after
					bottom: -2px
		&.active
			.text
				+transform(translateX(50%))
				opacity: 0
			.icon
				&:before
					background: $main
					top: 50%
					+transform(translateY(-50%)rotateZ(45deg))
				&:after
					background: $main
					bottom: 50%
					+transform(translateY(50%)rotateZ(-45deg))
				span
					background: $main
					+transform(translateX(100%))
					opacity: 0
	.overlay
		+pos(fix, null)
		z-index: 800
		.overlay-col
			+pos(fix,0 null 0 null)
			background: $white
			+transition(all,0.3s)
			&:before
				content: ''
				+pos(abs, 0 null 0 0)
				width: 1px
				background: color-rgba($white,0.1)
			&:nth-child(1)
				left: 0%
				right: 100%
				transition-delay: 0.2s
			&:nth-child(2)
				left: 20%
				right: 80%
				transition-delay: 0.15s
			&:nth-child(3)
				left: 40%
				right: 60%
				transition-delay: 0.1s
			&:nth-child(4)
				left: 60%
				right: 40%
				transition-delay: 0.05s
			&:nth-child(5)
				left: 80%
				right: 20%
				transition-delay: 0s
		&.active
			.overlay-col
				&:nth-child(1)
					right: 80%
					transition-delay: 0s
				&:nth-child(2)
					right: 60%
					transition-delay: 0.05s
				&:nth-child(3)
					right: 40%
					transition-delay: 0.1s
				&:nth-child(4)
					right: 20%
					transition-delay: 0.15s
				&:nth-child(5)
					right: 0%
					transition-delay: 0.2s
	.menu
		+pos(fix, 80px null 0 0)
		right: 0
		z-index: 900
		+flexbox
		align-items: center
		align-content: center
		justify-content: center
		visibility: hidden
		opacity: 0
		+transition(all,0.3s)
		transition-delay: 0s
		&.open
			visibility: visible
			opacity: 1
			transition-delay: 0.3s
		.menu-content
			max-width: 1140px
			+flexbox
			flex-wrap: wrap
		.menu-wrap
			width: 60%
		.menu-contact
			width: 40%
		ul.menu-link
			> li
				margin-bottom: 60px
				@for $i from 01 to 10
					&:nth-child(#{$i})
						&:before
							content: '0#{$i}'
				&:before
					display: inline-block
					width: 35px
					font-family: 'montserrat'
					+fs(18rem)
					font-weight: 300
					color: darken($white,60%)
				> a
					+fs(32rem)
					line-height: 1.2
					font-weight: 900
					color: $main
					display: inline-block
					+pos(rel,null)
					&:before
						content: ''
						display: block
						background: $black
						opacity: 0.2
						height: 20px
						+pos(abs, null null 0 0)
						width: 0
						+transition(all,0.5s)
				&:hover
					> a
						&:before
							width: 100%
		.contact-info
			margin-bottom: 20px
			.col-12
				margin-bottom: 40px
			.title
				+fs(16rem)
				font-weight: 700
				text-decoration: underline
				line-height: 40px
			ul
				li
					+fs(16rem)
					line-height: 40px
			a
				text-decoration: underline
		.social
			margin-bottom: 40px
			label
				+fs(14rem)
				font-weight: 700
				display: block
				margin-bottom: 5px
			ul
				+flexbox
				flex-wrap: wrap
				align-items: center
				align-content: center
				li
					+ li
						&:before
							content: '/'
							font-family: 'montserrat'
							line-height: 1
							margin: 0px 10px
					a
						text-decoration: underline
		.login
			ul
				+flexbox
				flex-wrap: wrap
				align-items: center
				align-content: center
				li
					+ li
						&:before
							content: '/'
							font-family: 'montserrat'
							line-height: 1
							margin: 0px 10px
							font-weight: 800
			a
				+fs(20rem)
				font-weight: 800



