section.banner-wrap
	.banner
		a.banner-col(href="#!" style="background-image: url(img/banner/banner.jpg);background-size: cover")
			.banner-img(style="background:url(img/banner/1.jpg) center center no-repeat;background-size:cover")
			.banner-caption
				.number 01
				.title Print Ads
			.banner-link explore
		a.banner-col(href="#!" style="background-image: url(img/banner/banner.jpg);background-size: cover")
			.banner-img(style="background:url(img/banner/2.jpg) center center no-repeat;background-size:cover")
			.banner-caption
				.number 02
				.title TVC
			.banner-link explore
		a.banner-col(href="#!" style="background-image: url(img/banner/banner.jpg);background-size: cover")
			.banner-img(style="background:url(img/banner/3.jpg) center center no-repeat;background-size:cover")
			.banner-caption
				.number 03
				.title Online Media
			.banner-link explore
		a.banner-col(href="#!" style="background-image: url(img/banner/banner.jpg);background-size: cover")
			.banner-img(style="background:url(img/banner/4.jpg) center center no-repeat;background-size:cover")
			.banner-caption
				.number 04
				.title Outdoor Ads
			.banner-link explore
		a.banner-col(href="#!" style="background-image: url(img/banner/banner.jpg);background-size: cover")
			.banner-img(style="background:url(img/banner/5.jpg) center center no-repeat;background-size:cover")
			.banner-caption
				.number 05
				.title Dstream Report
			.banner-link explore

	.scroll-indicator
		.scroll-indicator-line
		.scroll-indicator-circle
		.scroll-indicator-description Scroll down