footer
	.container.fullwidth
		.footer-top
			.sitelogo
				a(href="#!")
					img(src="img/logo-white.png", alt="")
			.row
				.col-12.col-lg-6
					.footer-contact
						.row
							.col-12.col-md-6
								.title Head Office
								ul
									li 200 Pasteur, District 3, Ho Chi Minh City, Vietnam
									li Tel: (+84) 8 3824 1919
									li Fax: (+84) 8 3829 0507
							.col-12.col-md-6
								.title Ha Noi Office
								ul
									li C2, 5th Floor, Pullman Hotel, 40 Cat Linh, Ha Noi, Vietnam
									li Tel: (+84) 4 3736 6011
									li Fax: (+84) 4 3736 6013
							.col-12
								a(href="mailto:info@ooh.datvietvac.vn") info@ooh.datvietvac.vn
				.col-12.col-lg-6
					.social
						label Social
						ul
							li
								a(href="#!") facebook
							li
								a(href="#!") twitter
							li
								a(href="#!") instagram
							li
								a(href="#!") linkedin
		.footer-bottom
			.datviet-logo DatVietVAC OOH
			.copyright Copyright © 2018 DatVietVAC Group Holdings. All rights reserved
