header
	.container
		.header-wrap
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.btn-showmenu 
				.text menu
				.icon
					span
			.overlay
				.overlay-col
				.overlay-col
				.overlay-col
				.overlay-col
				.overlay-col
		.menu
			.menu-content
				.menu-wrap
					ul.menu-link
						li
							a(href="#!") Home
						li
							a(href="#!") News
						li
							a(href="#!") Advertising Law
						li
							a(href="#!") Gallery
						li
							a(href="#!") Contact
				.menu-contact
					.contact-info
						.row
							.col-12.col-md-6
								.title Head Office
								ul
									li 200 Pasteur, District 3, Ho Chi Minh City, Vietnam
									li Tel: (+84) 8 3824 1919
									li Fax: (+84) 8 3829 0507
							.col-12.col-md-6
								.title Ha Noi Office
								ul
									li C2, 5th Floor, Pullman Hotel, 40 Cat Linh, Ha Noi, Vietnam
									li Tel: (+84) 4 3736 6011
									li Fax: (+84) 4 3736 6013
							.col-12
								a(href="mailto:info@ooh.datvietvac.vn") info@ooh.datvietvac.vn
					.social
						label Social
						ul
							li
								a(href="#!") facebook
							li
								a(href="#!") twitter
							li
								a(href="#!") instagram
							li
								a(href="#!") linkedin
					.login
						ul
							li
								a(href="#!") Register
							li
								a(href="#!") Sign in