section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.container
		h2.pagename Dstream
section.dstream-page
	.container
		.dstream-partner
			.item
				.partner-logo
					img(src="img/partner/1.png", alt="")
			.item
				.partner-logo
					img(src="img/partner/1.png", alt="")
			.item
				.partner-logo
					img(src="img/partner/1.png", alt="")
			.item
				.partner-logo
					img(src="img/partner/1.png", alt="")
		.dstream-filter
			.filter-select Sorting by year
				.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Year
					.dropdown-menu(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Year
			.filter-select Category
				.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Year
					.dropdown-menu(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Type
		.row
			.col-12.col-lg-3
				nav.sidebar-category
					ul.category-link
						li.has-sub.active
							a(href="#!") Category 1
							.sub
								ul
									li.active
										a(href="#!") Martker Overview 1
									li
										a(href="#!") Martker Overview 2
									li
										a(href="#!") Martker Overview 3
									li
										a(href="#!") Martker Overview 4
						li
							a(href="#!") Category 2
						li
							a(href="#!") Category 3
						li
							a(href="#!") Category 4
						li
							a(href="#!") Category 5
						li
							a(href="#!") Category 6
						li
							a(href="#!") Category 7
						li
							a(href="#!") Category 8
						li
							a(href="#!") Category 9
						li
							a(href="#!") Category 10

			.col-12.col-lg-9