section.home-news
	.container
		h1.home-title Latest News
	.news-slick
		.item
			.container
				a.news-item(href="#!")
					figure
						.news-img
							img(src="img/news/1.jpg", alt="")
						time 25.05.2018
						figcaption
							.news-name DatVietVAC OOH's Picks: Amazing outdoor advertisements
							.hvr-sweep-to-right.news-link Read more <span class="lnr lnr-arrow-right"></span>
		.item
			.container
				a.news-item(href="#!")
					figure
						.news-img
							img(src="img/news/1.jpg", alt="")
						time 25.05.2018
						figcaption
							.news-name DatVietVAC OOH's Picks: Amazing outdoor advertisements
							.hvr-sweep-to-right.news-link Read more <span class="lnr lnr-arrow-right"></span>
		.item
			.container
				a.news-item(href="#!")
					figure
						.news-img
							img(src="img/news/1.jpg", alt="")
						time 25.05.2018
						figcaption
							.news-name DatVietVAC OOH's Picks: Amazing outdoor advertisements
							.hvr-sweep-to-right.news-link Read more <span class="lnr lnr-arrow-right"></span>

