section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.container
		h2.pagename Gallery
section.product-filter
	.container
		.product-filter-wrap
			.filter-select
				ul
					li
						.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Type
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#') Action
								a.dropdown-item(href='#') Another action
								a.dropdown-item(href='#') Something else here
					li
						.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Type
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#') Action
								a.dropdown-item(href='#') Another action
								a.dropdown-item(href='#') Something else here
					li
						.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Type
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#') Action
								a.dropdown-item(href='#') Another action
								a.dropdown-item(href='#') Something else here
			.filter-search
				.search-wrap
					.searchbox
						input(type="text" placeholder="search...")
						button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				.sort-wrap
					label Sort
					a.sort-name(href="#!") Name<i class="fa fa-caret-up" aria-hidden="true"></i>
					a.sort-date(href="#!") Begin date<i class="fa fa-caret-up" aria-hidden="true"></i>
section.product-page
	.container
		.product-detail
			.product-name-wrap
				h1.product-name Mazda CX-5
				a.btn-download(href="#!") <i class="fa fa-download" aria-hidden="true"></i>Download
			.product-slide-wrap
				.product-slide
					.item
						a.img(href="img/product/img1.jpg" data-fancybox="album1")
							img(src="img/product/img1.jpg", alt="")
					.item
						a.img(href="img/product/img1.jpg" data-fancybox="album1")
							img(src="img/product/img1.jpg", alt="")
					.item
						a.img(href="img/product/img1.jpg" data-fancybox="album1")
							img(src="img/product/img1.jpg", alt="")
					.item
						a.img(href="img/product/img1.jpg" data-fancybox="album1")
							img(src="img/product/img1.jpg", alt="")
				.product-nav
					.item
						.img
							img(src="img/product/img1.jpg", alt="")
					.item
						.img
							img(src="img/product/img1.jpg", alt="")
					.item
						.img
							img(src="img/product/img1.jpg", alt="")
					.item
						.img
							img(src="img/product/img1.jpg", alt="")
			.product-overview
				.content
					.row
						.col-12.col-lg-6
							h5.content-title VÌ SAO MAZDA CX-5 DẪN ĐẦU PHÂN KHÚC CUV 5 CHỖ?
							p
								strong Hiện nay, nhu cầu ở phân khúc xe đa dụng có xu hướng tăng mạnh, trong đó Mazda CX-5 đang là mẫu xe được lựa chọn hàng đầu bởi thiết kế hiện đại, trang bị tiện nghi cao cấp, công nghệ vượt trội, tiết kiệm nhiên liệu cùng mức giá hấp dẫn
							p Tính chung 3 tháng đầu năm 2017 đã có gần 2.000 mẫu xe Mazda CX-5 đến tay khách hàng, một con số đáng mơ ước của nhiều thương hiệu xe hơi khác trong bối cảnh thị trường đang có sự suy giảm nhẹ. Không phải ngẫu nhiên mà mẫu xe CUV năm chỗ của Mazda lại liên tiếp giữ vững được ngôi vị cao trong một thời gian dài như vậy. Có rất nhiều lý do khiến cho khách hàng Việt luôn đặt niềm tin và sẵn sàng đầu tư để lựa chọn Mazda CX-5 chứ không phải một mẫu xe khác trong cùng phân khúc.
							p
								strong.text-uppercase PHÙ HỢP VỚI NHIỀU ĐỐI TƯỢNG KHÁCH HÀNG
							p Hiện nay, cùng với sự phát triển của các tuyến đường cao tốc, nhu cầu sở hữu một chiếc xe gia đình có giá trị sử dụng cao và an toàn ngày càng gia tăng. Trong đó, Mazda CX-5 đang trở thành lựa chọn hàng đầu bởi bên cạnh sự tiện nghi và công nghệ, mẫu xe này còn đáp ứng nhiều nhu cầu sử dụng. Với thiết kế trung tính, màu sắc phong phú và sang trọng, đề cao tính thực dụng, Mazda CX-5 phù hợp cho cả khách hàng nam lẫn nữ. Mẫu xe này thích hợp sử dụng trong nội thành hằng ngày, gia đình đi du lịch hay phục vụ cho công tác… Đây là một trong những lý do thiết thực tạo nên thành công của mẫu xe này trong suốt thời gian qua.
							p
								strong.text-uppercase THIẾT KẾ ẤN TƯỢNG VÀ HIỆN ĐẠI
							p Mazda CX-5 có thiết kế độc đáo và thanh thoát với các đường gân chạy dọc thân xe, tạo nên nét đặc trưng riêng. Cụm đèn trước và sau sử dụng công nghệ LED hiện đại, cho ánh sáng sắc nét. Đuôi xe được trang bị cánh hướng gió cỡ lớn tích hợp đèn phanh LED đi cùng ống xả đôi toát lên dáng vẻ thể thao và cá tính. Đặc biệt, bộ mâm hợp kim kích thước 19’’, giúp Mazda CX-5 nổi bật hơn các mẫu xe khác trong cùng phân khúc.
						.col-12.col-lg-6
							p
								strong.text-uppercase NỘI THẤT TIỆN NGHI VÀ SANG TRỌNG
							p Không gian nội thất Mazda CX-5 được bố trí trang nhã, sang trọng với các chi tiết viền kim loại cùng chất liệu da cao cấp. Kết hợp hài hòa giữa công nghệ tiên tiến với sự tỉ mỉ của kỹ thuật chế tác thủ công trong các chi tiết nội thất, mang đến những trải nghiệm mới mẻ cho người sử dụng. Mazda CX-5 được trang bị những tiện nghi cao cấp hàng đầu phân khúc như: Tay lái ba chấu thể thao, tích hợp các phím điều khiển chức năng: Điều khiển hệ thống giải trí, tay ga hành trình và chức năng điều khiển bằng giọng nói tiện lợi. Màn hình cảm ứng 7”, kết nối trực tiếp với hệ thống điều khiển Mazda Connect, tính năng độc đáo và duy nhất trong phân khúc, giúp các thao tác điều khiển trở nên dễ dàng và nhanh chóng. Hệ thống giải trí trên Mazda CX-5 được trang bị DVD, kết nối AUX/USB, Bluetooth, thông qua hệ thống chín loa Bose cao cấp, đem lại những khoảnh khắc trải nghiệm âm thanh vượt trội.
							p
								strong.text-uppercase AN TOÀN TỐI ƯU
							p Mazda CX-5 là xe an toàn hàng đầu và đạt điểm an toàn tối đa do IIHS – Viện bảo hiểm an toàn đường bộ Mỹ đánh giá và bình chọn năm 2016. Ngoài sáu túi khí tiêu chuẩn, xe còn được bổ sung các hệ thống hỗ trợ cao cấp khác như: Chống bó cứng phanh (ABS), phân bổ lực phanh (EBD), cân bằng điện tử (DSC), chống trượt (TCS), chống lật (RSC), hỗ trợ khởi hành ngang dốc (HLA), cảnh báo phanh khẩn cấp (ESS), định vị dẫn đường GPS và các hệ thống kiểm soát an toàn khác.
							p Ngoài ra, với hệ thống khung gầm SkyActiv-Chassis, tay lái trợ lực điện với tỷ số truyền thể thao, các thao tác điều khiển trở nên dễ dàng và linh hoạt hơn. Bên cạnh đó, với việc tối ưu cấu trúc hệ thống treo, hỗ trợ xe vận hành ổn định và an toàn ở tốc độ cao. Ở phiên bản cao nhất, Mazda CX-5 còn được trang bị hệ thống dẫn động bốn bánh chủ động toàn thời gian (AWD), bảo đảm khả năng vận hành khi luôn chủ động cân bằng và phân phối lực kéo đến các bánh xe.
							p
								strong.text-uppercase TIẾT KIỆM NHIÊN LIỆU TỐI ĐA
							p Mazda CX-5 được khách hàng đánh giá cao nhờ mức tiêu hao nhiên liệu ấn tượng, chi phí tiêu tốn thấp khi sử dụng. Xe có hai lựa chọn động cơ là 2.0L và 2.5L, ứng dụng công nghệ phun xăng trực tiếp tiên tiến, cùng hệ thống đóng mở van biến thiên, giúp tối ưu quá trình đốt cháy nhiên liệu và đem lại hiệu quả cao khi vận hành. Kết hợp với hộp số tự động sáu cấp, chuyển số nhẹ nhàng và mượt mà. Hệ thống Dừng/Khởi động i-Stop duy nhất trong phân khúc, tối ưu hóa khả năng vận hành, giúp Mazda CX-5 tiết kiệm nhiên liệu tối đa và giảm lượng khí thải.
			.btn-wrap
				a.btn-download(href="#!") <i class="fa fa-download" aria-hidden="true"></i>Download
		.product-other
			h2.page-title Sản phẩm liên quan
			.product-list
				.row
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							h3.product-name
								a(href="#!") Pepsico Intro
		//- .pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4