section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.container
		h2.pagename News
section.news-page
	.container
		.news-detail
			h1.news-name Talkshow GIẢI MÃ K-STARS: Ông trùm giải trí Park Jin Young tiết lộ khoản nợ khủng
			time 26.05.018
			.content
				h4 Giải mã K-Stars phát sóng trên HTV2 lúc 22g thứ Bảy, ngày 21/12/2013
				.row
					.col-12.col-lg-7
						img(src="img/news/img1.jpg", alt="")
					.col-12.col-lg-5
						p Được mệnh danh là “thầy phù thủy” của làng giải trí Hàn Quốc, Park Jin Young và công ty giải trí JYP của mình là bàn đạp đầu tiên đưa các ca sĩ và nhóm nhạc như Bi Rain, MissA, 2PM, Wonder Girls… trở thành hiện tượng không chỉ ở châu Á mà còn phủ sóng tới tận nước Mỹ. Tham gia Giải mã K-Stars, không chỉ mang đến nhiều tiếng cười trong màn “hỏi nhanh đáp lẹ”, Park Jin Young còn gây bất ngờ khi chia sẻ về khoản nợ “khổng lồ” cũng như nguồn thu nhập chính của bản thân anh. 
						p Trong khi các “ông trùm” của các công ty giải trí khác hầu như đã lui về phía sau và rất ít khi xuất hiện trước công chúng thì Park Jin Young vẫn đều đặn xuất hiện với những trang phục “độc” cùng những bất ngờ đầy thú vị. Đến với Giải mã K-Stars, anh không chỉ gửi tặng khán giả những món quà Giáng sinh đặc biệt mà còn khiến tất cả bất ngờ khi tiết lộ số nợ “khủng” của mình.
				p Chưa tính đến thu nhập của một giám đốc, riêng với số tiền bản quyền sáng tác 1 năm khoảng 1 triệu đô, không ai có thể nghĩ công ty của anh đang thiếu nợ tới 5,8 triệu đô chưa kể những khoản nợ cá nhân khác. Dù là người đứng đầu công ty nhưng Park Jin Young cũng không nhận bất kỳ lợi nhuận nào từ hợp đồng của các ca sĩ, thậm chí tất cả tài sản có giá trị của bản thân anh đều đem thế chấp để đầu tư cho họ tấn công thị trường nước ngoài. 
				p Sự hài hước khi nói về ngoại hình của mình, sự thản nhiên khi nói về nợ nần cùng ánh mắt say mê khi nói về công việc của anh khiến khán giả không ngừng bị cuốn hút và từ đó có thể tìm ra cho mình những bài học đắt giá về sự thành công. 
				p Không sở hữu ngoại hình bắt mắt nhưng giọng hát đặc biệt, vũ đạo điêu luyện cùng khả năng sáng tác tuyệt vời đã giúp chàng trai Park Jin Young liên tục gặt hái thành công. Anh trở thành một trong những nghệ sĩ đa năng nhất Hàn Quốc khi không chỉ là ca sĩ, nhạc sĩ, nhà sản xuất âm nhạc tài ba mà còn lấn sân sang cả lĩnh vực điện ảnh với vai diễn trong Bay cao ước mơ - bộ phim ca nhạc đình đám quy tụ hàng loạt gương mặt ca sĩ thần tượng như IU, Suzy, Kim Soo Hyun, Taecyeon… 
				p Ba năm sau khi khởi nghiệp, ngọn lửa đam mê và tham vọng mãnh liệt đã thôi thúc Park Jin Young thành lập công ty giải trí JYP với hướng đi riêng khi quy tụ những tài năng âm nhạc ở nhiều quốc gia như Hye Lim (Wonder Girls) - Hong Kong, Nichkhun - Thái Lan, Taec Yeon (2PM) - Mỹ... Với tính cách thân thiện, tình cảm trong cuộc sống nhưng lại rất nghiêm khắc trong công việc, Park Jin Young tạo ra nhiều ca sĩ, nhóm nhạc tài năng cùng loạt ca khúc ấn tượng. Sau khi ra mắt thành công G.O.D – một trong những nhóm nhạc thần tượng đầu tiên của Kpop, Park Jin Young đã liên tục “tạo bão” khắp châu Á với các tên tuổi như Bi Rain, Wonder Girls, 2PM… Kẻ ghen ghét cho rằng ông chủ Park may mắn khi sở hữu trong tay những quân bài quá mạnh nhưng phía sau những điều được gọi là “phép thuật hô biến” ấy lại là quá trình khổ luyện dưới sự đào tạo chuyên sâu. Và cùng với sự trưởng thành của các thế hệ ca sĩ là sự vươn lên hùng mạnh của công ty, đưa cái tên JYP trở thành 1 trong 3 “gã khổng lồ” của ngành công nghiệp giải trí xứ Kim chi.v
				p Giải mã K-stars tuần này còn có sự góp mặt của các thành viên ban nhạc G.O.D – những người được xem là “con đầu lòng” của Park Jin Young. Phía sau những kỷ niệm cười ra nước mắt mà họ mang đến là một hình ảnh rất khác của Park Jin Young – người mà họ đã xem như “người cha thứ hai” của cuộc đời mình. Chương trình sẽ lên sóng HTV2 lúc 22g thứ Bảy, ngày 21/12/2013.
			.share
				img(src="img/share.jpg", alt="")
		.news-other
			.page-title Tin tức liên quan
		.news-list
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n1.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Talkshow GIẢI MÃ K-STARS: Ông trùm giải trí Park Jin Young tiết lộ khoản nợ
							.news-des Giải mã K-Stars phát sóng trên HTV2 lúc 22g thứ Bảy, ngày 21/12/2013
							a.news-link(href="#!") Xem thêm
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n2.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Hội ngộ danh hài - Xuân Giáp Ngọ 2014
							.news-des Ngày 18/12/2014, tại văn phòng 200 Pasteur, Đông Tây Promotion đã tổ chức họp báo ra mắt chương trình Hội ngộ danh hài 2014 với sự góp mặt của hơn 50 danh hài khắp từ Bắc chí Nam. Ngày 18/12/2014, tại văn phòng 200 Pasteur, Đông Tây Promo
							a.news-link(href="#!") Xem thêm
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n3.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Dàn sao lớn đổ bộ Tài – Tiếu – Tuyệt
							.news-des Tài – Tiếu – Tuyệt phát sóng trên HTV2 lúc 20h Chủ nhật, ngày 15/12/2013.
							a.news-link(href="#!") Xem thêm
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n4.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Chuỗi kịch kỳ án Đông Tây kim cổ: Chén trà ma quái
							.news-des Sau Bao Công, Kỳ án Đông Tây kim cổ tuần này sẽ mang tài phá án của Địch Nhân Kiệt - một “thần thám” nổi tiếng tài năng, đức độ, liêm chính lên sân khấu Việt qua tiểu phẩm Chén trà ma quái – phát sóng trên kênh HTV2 lúc 21g30 Chủ Nhật, ngày 15/12/2013.
							a.news-link(href="#!") Xem thêm
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n5.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Talkshow GIẢI MÃ K-STARS: Ông trùm giải trí Park Jin Young tiết lộ khoản nợ
							.news-des Giải mã K-Stars phát sóng trên HTV2 lúc 22g thứ Bảy, ngày 21/12/2013
							a.news-link(href="#!") Xem thêm
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n6.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Talkshow GIẢI MÃ K-STARS: Ông trùm giải trí Park Jin Young tiết lộ khoản nợ
							.news-des Giải mã K-Stars phát sóng trên HTV2 lúc 22g thứ Bảy, ngày 21/12/2013
							a.news-link(href="#!") Xem thêm
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n7.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Talkshow GIẢI MÃ K-STARS: Ông trùm giải trí Park Jin Young tiết lộ khoản nợ
							.news-des Giải mã K-Stars phát sóng trên HTV2 lúc 22g thứ Bảy, ngày 21/12/2013
							a.news-link(href="#!") Xem thêm
			.news-item
				.news-col
					figure
						a.news-img(href="#!")
							img(src="img/news/n8.jpg", alt="")
						figcaption
							time 26.05.2018
							h2.news-name 
								a(href="#!") Talkshow GIẢI MÃ K-STARS: Ông trùm giải trí Park Jin Young tiết lộ khoản nợ
							.news-des Giải mã K-Stars phát sóng trên HTV2 lúc 22g thứ Bảy, ngày 21/12/2013
							a.news-link(href="#!") Xem thêm
		.btn-wrap.text-center
			a.btn-loadmore(href="#!") Load more <i class="material-icons">add</i>